@import "./Scss/Home";
@import "./Scss/palette";
@import "./Scss/Navbar";
@import "./Scss/Projects";

.color-style-tags-synth {
    color: map-get($Synthwave, tags);
}
.color-style-tags-text-synth {
    color: map-get($Synthwave, tags-text);
}
.color-style-declare-synth {
    color: map-get($Synthwave, declare);
}
.color-style-tags-gruv {
    color: map-get($Gruvbox, tags);
}
.color-style-tags-text-gruv {
    color: map-get($Gruvbox, tags-text);
}
.color-style-declare-gruv {
    color: map-get($Gruvbox, declare);
}
.blinking-cursor-synth {
    height: 22px;
    width: 5px;
    font-weight: 800;
    margin: 0 7px 0 0;
    border: 1px solid map-get($Synthwave, tags-text);
    background-color: map-get($Synthwave, tags-text);
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: map-get($Synthwave, tags-text);
    }
}

@-moz-keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: map-get($Synthwave, tags-text);
    }
}

@-webkit-keyframes blink {
    from,
    to {
        background-color: transparent;
    }
    50% {
        background-color: map-get($Synthwave, tags-text);
    }
}
